build/*

dist/*

firmware/CanBus.X/build/*

firmware/CanBus.X/dist/*

firmware/CanBus.X/nbproject/*

test/src/*

test/**/objs/*

test/**/lib/*

test/**/*.txt

test/**/*_tests

test/**/*.exe

node_modules
